set_io i_a[0]     112
set_io i_a[1]     113
set_io i_a[2]     114
set_io i_a[3]     115
set_io i_a[4]     116
set_io i_a[5]     117
set_io i_a[6]     118
set_io i_a[7]     119

set_io o_c[0]     78 
set_io o_c[1]     79
set_io o_c[2]     80
set_io o_c[3]     81  
set_io o_c[4]     87
set_io o_c[5]     88
set_io o_c[6]     90
set_io o_c[7]     91
set_io o_c[8]     95 
set_io o_c[9]     96
set_io o_c[10]    97
set_io o_c[11]    98
set_io o_c[12]    99
set_io o_c[13]    101
set_io o_c[14]    102
set_io o_c[15]    104

